h1,
header > h3 {
  position: relative;
}

h1::before,
header > h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: rgb(230, 225, 225);
  border-left: 3px solid black;
  animation: typewrite 1.5s steps(16) forwards 0.5s, blink 0.8s steps(16, end) infinite;
}

header > h3::before {
  background-color: rgb(230, 225, 225);
  animation: typewrite 1.5s steps(13) forwards 2s, blink 0.8s steps(16) infinite 2s;
}

@media screen and (min-width: 600px) {
  .skills h4 {
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
  }
  .skills div {
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
  }
  .skills h4::before,
  .skills div::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .skills h4::before {
    background-color: rgb(230, 225, 225);
    animation: typewrite 0.5s steps(6) forwards 4s, blink 0.8s steps(6) infinite 6s;
  }
  .skills div:nth-child(2)::before {
    background-color: rgb(230, 225, 225);
    animation: typewrite 1s steps(49) forwards 4.5s, blink 0.8s steps(41) infinite 6s;
  }
}
@keyframes typewrite {
  0% {
    left: 0%;
    border-left: 2px solid black;
  }
  99% {
    border-left: 2px solid black;
  }
  100% {
    left: 100%;
    border-left: none;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
:root {
  --background-header: hsl(36, 100%, 90%);
  --background-aside: hsl(182, 25%, 50%);
  --background-main: hsl(16, 100%, 66%);
  --background-footer: hsl(43, 89%, 38%);
}

* {
  margin: 0;
  padding: 0;
  color: rgb(29, 29, 29);
}

h1 {
  font-family: "IBM Plex Mono", Courier, monospace;
}

h2 {
  margin-bottom: 3rem;
  font-family: "IBM Plex Mono", monospace;
}

body {
  background-color: rgb(230, 225, 225);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  font-family: "IBM Plex Mono", monospace;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  gap: 40px;
}

svg {
  width: 100%;
  height: 100%;
}

.circle-shape {
  stroke: cadetblue;
  stroke-dasharray: 0 540;
  stroke-dashoffset: -474;
  stroke-width: 2px;
  border-radius: 100%;
  fill-opacity: 0;
  animation: svg-stroke cubic-bezier(0.78, 0.19, 0.54, 1.05) 1.5s forwards 3.5s;
}

.skills {
  opacity: 0;
  padding: 1rem;
  animation: skills-animation-mobile ease 0.5s forwards 4.5s;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

section {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 3rem;
  background-color: whitesmoke;
  border: solid 2px black;
  padding: 2rem 0.75rem;
}
section .project-description {
  margin: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
}
section .project-description a {
  max-width: 215px;
  min-width: 160px;
  text-decoration: none;
  border: solid 2px whitesmoke;
  padding: 0.25rem;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(32, 32, 32);
  color: whitesmoke;
  line-height: 3rem;
}
section .project-description a svg {
  width: auto;
  height: auto;
  fill: whitesmoke;
  translate: -5px 8px;
}

.wrapper-pictures {
  position: relative;
}
.wrapper-pictures picture {
  display: block;
  position: relative;
  text-align: center;
}
.wrapper-pictures picture img {
  max-width: 60%;
  height: auto;
}

picture:nth-child(odd) {
  position: absolute;
  bottom: -3rem;
  left: -3rem;
  height: auto;
  z-index: 1;
  width: 90%;
  overflow: hidden;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
}
footer h2 {
  margin-bottom: 0;
}
footer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  background-color: darkcyan;
  border: solid 2px black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
footer form label {
  color: whitesmoke;
  width: 90%;
  margin: 0 auto;
}
footer form input {
  margin: 0 auto 1rem;
  width: 90%;
  padding: 0.75rem 0.5rem;
  border-radius: 5px;
  border: none;
}
footer form textarea {
  margin: 0 auto;
  width: 90%;
  padding: 0.5rem;
  border: none;
}
footer form button {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  background-color: rgb(32, 32, 32);
  color: whitesmoke;
  border-radius: 10px;
  border: 1px solid rgb(32, 32, 32);
  cursor: pointer;
}

@keyframes svg-stroke {
  90% {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
  }
  95% {
    fill-opacity: 0;
  }
  100% {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
    fill-opacity: 1;
  }
}
@keyframes skills-animation-mobile {
  to {
    opacity: 1;
  }
}
/****************************** MEDIA QUERY *****************************************************************/
@media screen and (min-width: 600px) {
  body {
    padding: 0 3.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header header" "main main main main" "main main main main" "footer footer footer footer";
  }
  header {
    grid-area: header;
    height: 100vh;
    gap: 20px;
    position: relative;
  }
  header .skills {
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
  main {
    grid-area: main;
  }
  section {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  section .project-description {
    margin-bottom: 0;
  }
  .wrapper-pictures {
    position: relative;
  }
  .wrapper-pictures picture {
    display: block;
    position: relative;
    text-align: center;
  }
  .wrapper-pictures picture img {
    max-width: 80%;
    height: auto;
  }
  picture:nth-child(odd) {
    z-index: 0;
    width: 100%;
    height: auto;
    bottom: 0;
    right: 0;
    left: 0;
  }
  picture:nth-child(even) {
    position: absolute;
    bottom: -3rem;
    right: 4rem;
    max-width: 22%;
    height: auto;
  }
  footer form {
    width: 70%;
    margin: 0 auto;
  }
}
footer {
  min-height: 200px;
  grid-area: footer;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
  footer form {
    max-width: 60%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1280px) {
  body {
    width: 72%;
    margin: 0 auto;
    padding: 0;
  }
  footer form {
    max-width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  body {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
  }
  section {
    gap: initial;
  }
  section.wordle {
    flex-direction: row-reverse;
  }
  section.just-random {
    flex-direction: row;
  }
  section.just-random .project-description {
    padding-left: 2rem;
  }
  section .project-description {
    width: 35%;
  }
  .wrapper-pictures {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  picture:nth-child(even) {
    position: absolute;
    bottom: -0.5rem;
    right: 2rem;
    max-width: 22%;
    height: auto;
  }
  footer form {
    max-width: 40%;
  }
}
/* ibm-plex-mono-regular - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/ibm-plex-mono-v15-latin/ibm-plex-mono-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/imb-plex-mono-v15-latin/ibm-plex-mono-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/ibm-plex-mono-v15-latin/ibm-plex-mono-v15-latin-regular.woff2") format("woff2"), url("../assets/fonts/imb-plex-mono-v15-latin/ibm-plex-mono-v15-latin-regular.woff") format("woff"), url("../assets/fonts/imb-plex-mono-v15-latin/ibm-plex-mono-v15-latin-regular.ttf") format("truetype"), url("../assets/fonts/imb-plex-mono-v15-latin/ibm-plex-mono-v15-latin-regular.svg#IBMPlexMono") format("svg"); /* Legacy iOS */
}

/*# sourceMappingURL=style.css.map */