/* ibm-plex-mono-regular - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/ibm-plex-mono-v15-latin/ibm-plex-mono-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/imb-plex-mono-v15-latin/ibm-plex-mono-v15-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../assets/fonts/ibm-plex-mono-v15-latin/ibm-plex-mono-v15-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../assets/fonts/imb-plex-mono-v15-latin/ibm-plex-mono-v15-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('../assets/fonts/imb-plex-mono-v15-latin/ibm-plex-mono-v15-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/imb-plex-mono-v15-latin/ibm-plex-mono-v15-latin-regular.svg#IBMPlexMono')
      format('svg'); /* Legacy iOS */
}

/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/ibm-plex-sans-v14-latin/ibm-plex-sans-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/ibm-plex-sans-v14-latin/ibm-plex-sans-v14-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../assets/fonts/ibm-plex-sans-v14-latin/ibm-plex-sans-v14-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../assets/fonts/ibm-plex-sans-v14-latin/ibm-plex-sans-v14-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('../assets/fonts/ibm-plex-sans-v14-latin/ibm-plex-sans-v14-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/ibm-plex-sans-v14-latin/ibm-plex-sans-v14-latin-regular.svg#IBMPlexSans')
      format('svg'); /* Legacy iOS */
}
