/****************************** MEDIA QUERY *****************************************************************/
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  main {
    section {
      row-gap: 5rem;
      column-gap: 2rem;

      h3 {
        margin-left: 2rem;
      }

      .project-description {
        display: grid;
        grid-template-columns: 1fr 1fr;

        article {
          padding: 4em;

          &::before {
            left: -6rem;
          }
        }

        .project-links {
          align-self: center;
        }
      }
    }
  }
}
