/****************************** MEDIA QUERY *****************************************************************/

@media screen and (min-width: 600px) {
  body {
    padding: 0 3.5rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'header header header header'
      'main main main main'
      'main main main main'
      'footer footer footer footer';
  }

  header {
    grid-area: header;
    height: 100vh;
    gap: 20px;

    position: relative;
    .skills {
      position: absolute;
      bottom: 50px;
      left: 50px;
    }
  }

  main {
    grid-area: main;
  }

  section {
    display: flex;
    flex-direction: column-reverse;

    padding-top: 2rem;
    padding-bottom: 2rem;

    // border-radius: 20px;
    // // box-shadow: 5px 10px 5px grey;
    .project-description {
      margin-bottom: 0;
    }
  }

  .wrapper-pictures {
    position: relative;

    // border: solid 2px rgb(255, 255, 255);

    picture {
      display: block;
      position: relative;
      text-align: center;

      // border: solid 2px rgb(146, 145, 145);

      img {
        max-width: 80%;
        height: auto;

        // border: solid 2px cadetblue;
      }
    }
  }

  picture:nth-child(odd) {
    z-index: 0;
    width: 100%;
    height: auto;

    bottom: 0;
    right: 0;
    left: 0;
  }

  picture:nth-child(even) {
    position: absolute;
    bottom: -3rem;
    right: 4rem;

    max-width: 22%;
    height: auto;
  }

  footer form {
    width: 70%;
    margin: 0 auto;
  }
}

footer {
  min-height: 200px;
  grid-area: footer;
}

@media screen and (768px <= width <= 992px) {
  body {
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }

  footer form {
    max-width: 60%;
  }
}

@media screen and (992px <= width <= 1280px) {
  body {
    width: 72%;
    margin: 0 auto;
    padding: 0;
  }

  footer form {
    max-width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  body {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
  }

  section {
    gap: unset;

    &.wordle {
      flex-direction: row-reverse;
    }

    &.just-random {
      flex-direction: row;

      .project-description {
        padding-left: 2rem;
      }
    }

    .project-description {
      width: 35%;
    }
  }

  .wrapper-pictures {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  picture:nth-child(even) {
    position: absolute;
    bottom: -0.5rem;
    right: 2rem;

    max-width: 22%;
    height: auto;
  }

  footer form {
    max-width: 40%;
  }
}
